<!DOCTYPE html>
<html>

<head>
  <title>Diners</title>
  <link href="https://fonts.font.im/css?family=Oswald%7CBree+Serif%7CMerriweather%7CPacifico%7CPoppins" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/index_style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/general_page_style.css">
  <link rel="icon" href="images/Icon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="javascripts/myjs.js" defer></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="476828837879-ql8u52s5u72kijn96odo9vu8ep5dtr6m.apps.googleusercontent.com">
</head>

<body>
  <div class="page-container" onload="loadUserPage();">
    <!--header content starts-->
    <header class="header-container-general" id="header-container">
      <div class="logo">
        <a href="/">
          <img class="logo-img-general" src="images/Logo.png" alt="Diners Logo" />
        </a>
      </div>
      <div class="menu-container">
        <span id="menu-text">MENU<i class="material-icons" id="down_arrow">&#xe313;</i></span>
      </div>
      <div class="user-img-container-general">
        <a href="login.html">
          <img class="user-img" src="images/user-image.png" alt="user-login" />
        </a>
      </div>
      <span class="user-login-text-general"><a href="login.html">Login</a></span>
    </header>
    <!--header content ends-->
    <div class="body-content-container-login">
      <h1>Log into Diners</h1>
      <p>Or <a href="register.html">Create Account</a></p>
      <div class="login-info-container">
        <form id="register-form" onsubmit="login(); return false;">
          <input type="text" v-model="username" placeholder="Email Address/Username" required />
          <input type="password" v-model="password1" placeholder="Password" required />
          <button type="submit" class="login-button">Log In</button>
        </form>
        <p id="small-text">or continue with</p>
        <div class="google">
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>
        <a href="login.html" style="text-decoration: none;">
          <p>Forgot password?</p>
        </a>
      </div>
    </div>
    <!--body content ends-->
    <div class="foot-container">
      <div class="foot-content-container">
        <div class="foot-content-text">
          <h2>FOR DINERS</h2>
          <a href="index.html">Special Offers</a>
          <a href="index.html">Diner Support</a>
        </div>
        <div class="foot-content-text">
          <h2>FOR RESTAURANTS</h2>
          <a href="index.html">Why join Diners?</a>
          <a href="index.html">Restaurant Support</a>
        </div>
        <div class="foot-content-text">
          <h2>ABOUT DINERS</h2>
          <a href="index.html">About Us</a>
          <a href="index.html">Our Partners</a>
          <a href="index.html">Join the team</a>
        </div>
        <div class="foot-content-text">
          <h2>DOWNLOAD</h2>
          <a href="index.html">Andoird App</a>
          <a href="index.html">iPhone App</a>
        </div>
        <div class="about-icons-container">
          <i class='fab fa-facebook-square'></i>
          <i class='fab fa-instagram'></i>
          <i class='fab fa-twitter-square'></i>
        </div>
      </div>
      <div class="rights-container">
        <p id="rights">© 2019 Diners. All rights reserved.</p>
        <div>
          <span>
            <a href="index.html">Terms and Condition</a>
            <span class="split">|</span>
            <a href="index.html">Privacy Policy</a>
            <span class="split">|</span>
            <a href="index.html">Reviews Policy</a>
            <span class="split">|</span>
            <a href="index.html">Contact Us</a>
          </span>
        </div>
      </div>
    </div>
    <!--foot content ends-->
  </div>
</body>

</html>
